.othersContainer {
  width: 100%;
  display: flex;
  & > div {
    flex-grow: 1;
    margin: 0.4rem;
  }
  & > div:first-child {
    margin-left: 0;
  }
  & > div:last-child {
    margin-right: 0;
  }
}

.sliderContainer {
  width: 100%;
}
